<div class="Dodanie">
  <div>
    <span>Title: </span>

    <!-- <input type="text" [(ngModel)]="title" (ngModelChange)="walidacja($event)" /> -->
    <input type="text" class="title" [(ngModel)]="title" (input)="walidacja($event)" />
    <input type="text" class="body" [(ngModel)]="body" (input)="walidacja($event)" />
    <button (click)="kliko($event)">Send</button>
  </div>
</div>
